---
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
ColumnLimit: 100
IndentWidth: 4
# IndentRequiresClause: true
# InsertBraces: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
QualifierAlignment: Left
SortIncludes: CaseInsensitive
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
Standard: Latest
TabWidth: 4
UseCRLF: false
UseTab: Always
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: true
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseBlocks: true
IndentPPDirectives: None
IndentWrappedFunctionNames: true
LambdaBodyIndentation: Signature
Language: Cpp
KeepEmptyLinesAtTheStartOfBlocks: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceAroundPointerQualifiers: After
